In [20]:
import pandas as pd
from pandas import Series, DataFrame
from pandas import read_html

In [21]:
# Read AAACorpBond Yield
url_AAACorpBond = 'https://ycharts.com/indicators/moodys_seasoned_aaa_corporate_bond_yield'
dframe_list_AAACorpBond = pd.read_html(url_AAACorpBond)
dframe_AAACorpBond = dframe_list_AAACorpBond[0]

In [22]:
# Read FreeCashFlow
url_FreeCashFlow = 'https://www.macrotrends.net/stocks/charts/AMD/amd/free-cash-flow'
dframe_list_FreeCashFlow = pd.read_html(url_FreeCashFlow)
dframe_FreeCashFlow = dframe_list_FreeCashFlow[0]

In [23]:
dframe_FreeCashFlow

    AMD Annual Free Cash Flow  AMD Annual Free Cash Flow.1
0                        2019                        276.0
1                        2018                       -129.0
2                        2017                       -101.0
3                        2016                          4.0
4                        2015                       -314.0
5                        2014                       -193.0
6                        2013                          6.0
7                        2012                       -471.0
8                        2011                        148.0
9                        2010                       -559.0
10                       2009                          7.0
11                       2008                       -973.0
12                       2007                      -1922.0
13                       2006                       -547.0
14                       2005                        -20.0